target/
dist/
dist-dev/
linux/*.whl
linux/.incoming-*/
*.pyd
*.so
*.dll
*.dylib
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
.mypy_cache/
.coverage
htmlcov/
coverage-python.xml
coverage-rust.lcov

*.pdb
*.log
logs/
.cargo/
.rustup/
